@import "https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css";

:root {
  color-scheme: light dark;
}

:focus {
  z-index: 1;
}
:focus-visible {
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  border-top: solid 1px;
  background: none;
}
