/** Tokens */
:root {
  --radius: 4px;
  --color-primary-500: hsl(150deg, 50%, 50%);
  --color-black-500: hsl(0deg, 0%, 50%);
}

/** Border radius */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a[role="button"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
details {
  border-radius: var(--radius);
  border-color: var(--color-black-500);
}


/** Button */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a[role="button"] {
  &.is-primary {
    background-color: var(--color-primary-500);
    border-width: 0;
  }
}
