button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a[role="button"] {
  border-radius: var(--radius);

  &.is-primary {
    background-color: var(--color-primary-500);
    border-width: 0;
  }
}
