/**
Open UI: https://open-ui.org/components/dialog.research

Possible states
===============

- open ([open])

Possible HTML elements
======================

- <dialog></dialog>
*/
dialog {
  border-width: 1px;
  padding: 1em;
  max-width: calc(100% - 2em);
}
