/**
Possible states
===============
- focused (:focus-visible)
- disabled (:disabled)

Possible HTML elements
======================

- <input type="text">
- <textarea></textarea>
*/
input[type="text"],
textarea {
  border: solid 1px currentColor;
  padding: .5em;
  color: inherit;
  background: inherit;
  display: block;

  &:disabled {
    opacity: .33;
    pointer-events: none;
  }
  &::placeholder {
    color: currentColor;
    opacity: 0.5;
  }
}

textarea {
  resize: vertical;
  min-height: 2em;
  -webkit-appearance: initial; /* safari bug */
}