/**
Open UI: https://open-ui.org/components/button

Possible states
===============

- focused (:focus-visible)
- mouse over (:hover)
- pressing (:active)
- disabled (:disabled)
- toggle
  - selected ([aria-pressed="true"])
  - unselected ([aria-pressed="false"])

Possible HTML elements
======================

- <button></button>
- <input type="button">
- <input type="reset">
- <input type="submit">
- <a role="button">
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"]::file-selector-button,
a[role="button"] {
  --color: var(--color-buttonText);
  --color-background: var(--color-buttonFace);
  --color-border: var(--color-buttonBorder);

  display: inline-flex;
  column-gap: .5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px var(--color-border);
  padding: .6em;
  min-height: 2.5em;
  text-decoration: none;
  color: var(--color);
  background: var(--color-background);
  cursor: pointer;

  &:disabled,
  &[aria-disabled="true"] {
    cursor: default;
    opacity: .33;
    pointer-events: none;
  }
}
