/**
Open UI: https://open-ui.org/components/radio-button.research

Possible states
===============

- focused (:focus-visible)
- mouse over (:hover)
- checked (:checked)

Possible HTML elements
======================

- <input type="radio">
*/
input[type="radio"] {
  --color-off: Canvas;
  --color-on: AccentColor;
  --color-check: Canvas;

  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: solid 1px;
  vertical-align: middle;
  background-color: var(--color-off);
  background-repeat: no-repeat;
  background-position: center center;
  accent-color: var(--color-on);
  color: var(--color-on);

  &:checked {
    border-width: .5em;
    background-color: var(--color-check);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: .33;
    pointer-events: none;
  }
}