/**
Open UI: https://open-ui.org/components/tooltip.research

Possible states
===============

- open ([open])

Possible HTML elements
======================

- <div role="tooltip"></div>
*/
[role="tooltip"] {
  position: absolute;
  background: white;
  border: solid 1px;
  padding: 1em;
  max-width: 30em;
  margin: 0;
}
